
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    margin: 30px 30px 0 30px;
    padding: 20px 0;
    border-radius: 20px;
    background-color: #d6dedf;
}

.header,.footer {
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #d6dedf;
}

.header {
    text-shadow: 1px 1px 2px black;
}

.footer {
    color: black;
}

.clear {
    clear: both;
}

.content {
    position: relative;
    min-height: 383px;
    background-color: white;
}

.left {
    position: absolute;
    left:0;
    top:0;
}

.right {
    position: absolute;
    right:0;
    top:0;
}

.center  {
    text-align: center;
    background-color: white;
    height: 100%;
}

.temp {
    font-size: 100px;
}

#nowDate {
    font-size: 35px;
}

#site-name {
    font-size: 70px;
}