<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>По погоді</title>
    <link type="text/css" rel="stylesheet" href="./main.css">
</head>
<body>

<div class="header">
    <h1>Одягатись по погоді, а не по моді</h1>
    Ваше місто: <span id="geoCity">...</span>
</div>

<div class="content">
    <div class="left">
        <img id="cloth1" width="300">
    </div>
    <div class="center">
            <div class="center large">
                <span id="temp">...</span>℃
            </div>
            <div class="center large">
                <span id="nowDate">...</span>
            </div>
            <div>
                <img id="weatherIcon">
            </div>

            <div class="center">
                <b>Детально про погоду</b>
                <div id="weatherDetail">...</div>
            </div>
    </div>
    <div class="right">
        <img id="cloth2" width="300">
    </div>
</div>

<div class="clear"></div>

<div class="footer">
    Одяг та аксесуари -  інтернет-магазин "ASOS"
    <a href="http://asos.com" target="_blank">Інтернет-магазин</a>

</div>


<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="./main.js"></script>
</body>
</html>